# Это образец файла конфигурации
# Переименуйте файл в .env
# mv .env.example .env
# Раскомментируйте и присвойте свои значения переменным

# =============================================================
# mailer.php 
# =============================================================
# настройки почты (обязательные)
# MAILER_USERNAME=your-email@gmail.com
# MAILER_PASSWORD=your-app-password-here

# настройки почты (опциональные)
# Если не указаны, используются значения по умолчанию для Gmail
# MAILER_HOST=smtp.gmail.com
# MAILER_PORT=587
# MAILER_ENCRYPTION=tls
# MAILER_CHARSET=UTF-8

# =============================================================
# adminSettings.php
# =============================================================
# ADMIN_NAME="Администратор заказов"
# ADMIN_EMAIL=admin@example.com

# ============================================
# bankDetailsSettings.php
# ============================================
# BANK_DETAILS_RECIPIENT_BANK='ФИЛИАЛ "ИВАНОВСКИЙ" АО "ИВАН-БАНК" г. Иваново'
# BANK_DETAILS_BANK_IDENTIFICATION_CODE='123456789'
# BANK_DETAILS_CORRESPONDENT_BANK_ACCOUNT='30101000000000000000'
# BANK_DETAILS_RECIPIENTS_BANK_ACCOUNT='40802000000000000000'
# BANK_DETAILS_IP_NAME='ИП Иванов Иван'
# BANK_DETAILS_IP_FULL_NAME='ИП Иванов Иван, ИНН 123456789876, 123456, Ивановская область, г.о. Ивановский, г Иваново, ул Ивановская, д. 12, кв./оф. 34, тел.: +7 1234567890'
# BANK_DETAILS_PAYMENT_BASIS='Основной договор'
# BANK_DETAILS_ENTREPRENEURS_SURNAME='Иванов И.'
